# ==========================
# Frontend (UI & HTTP Client)
# ==========================
streamlit~=1.56.0
requests~=2.32.0

# ==========================
# JS / CSS 확장
# ==========================
streamlit-extras>=0.7.0,<0.8
streamlit-javascript~=0.1.5