# frontend env
API_BASE_URL=

# backend env
USER_AGENT=Mozilla/5.0 (Windows NT 10.0; Win64; x64)

OPENAI_API_KEY=
RUNPOD_API_KEY=
GROQ_API_KEY=

LANGSMITH_TRACING=true
LANGSMITH_ENDPOINT=https://api.smith.langchain.com
LANGSMITH_API_KEY=
LANGSMITH_PROJECT=Job-pocket

# RDB
RDB_URL=mysql+pymysql://rdb_user:rdb_password@0.tcp.jp.ngrok.io:15418/job_pocket_rdb
MYSQL_RDB_USER=rdb_user
MYSQL_RDB_PASSWORD=rdb_password

# Vector DB
VECTOR_DB_URL=mysql+pymysql://vector_user:vector_password@database:3306/job_pocket_vector
MYSQL_VECTOR_USER=vector_user
MYSQL_VECTOR_PASSWORD=vector_password

# database env
MYSQL_ROOT_PASSWORD=root
TIMEZONE=Asia/Seoul
